<%= link_to 'Home', root_path %>
<div class='jumbotron'>
  <h3> My Numbers </h3>

  <ul>
  <% current_user.numbers.each do |number| %>
    <li>
    <%= number.name %> |
    <%= number.number %> |
    <%= link_to 'Delete', number_path(number), method: 'delete', confirm: 'Are you sure?' %>
    </li>
  <% end %>
  </ul>

</div>
