<div class='jumbotron'>
  <h1> Evening For Us </h1>
  <div class='btn btn-primary'> login! </div>
  <div class='btn btn-primary'> sign up! </div>
</div>

This is my example of our fourth week project. Evening For Us is a web app that lets the user find evening plans for themselves through yelp reviews of restaurants, bars, and night clubs. They can then send preconstructed messages to their friends with the address, time, and rating.
