body {
  padding: 10px;
  background: url('http://i.imgur.com/I1Mjrzv.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;

  .navbar{
    background-color: #8A141B;
    color: cornsilk;
  }
  .navbar-default .navbar-nav>li>a {
    color: #FCFCFC;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
  }
  h2, .h2 {
    color: white;
    font-family: 'Pacifico', cursive;
    }
  .jumbotron {
    padding: 10px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #8A141B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .jumbotron h1, .jumbotron .h1 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: white;
  }
  .container .jumbotron {
    padding-right: 70px;
    padding-left: 70px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
  }
  form{
    text-align: center;
  }
  h3, .h3 {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }
  .form-control{
    color: #070707;
    font-size: 20px;
  }
  .well{
    margin-top: 30px;
    background-color: #8A141B;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  input{
    color:black;
    font-size: 20px;
  }
  li{
    font-size: 30px;
  }
  a{
    font-family: 'Pacifico', cursive;
    color: #FAFAFB;
    font-size: 50px;
  }

  .result{
    height: 1000px;
  }
}
